In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("Employees_Absenteeism.csv")
data.head()
data.shape

(500, 13)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  500 non-null    int64
 1   Surname         500 non-null    object
 2   GivenName       500 non-null    object
 3   Gender          500 non-null    object
 4   City            500 non-null    object
 5   JobTitle        499 non-null    object
 6   DepartmentName  500 non-null    object
 7   StoreLocation   500 non-null    object
 8   Division        499 non-null    object
 9   Age             495 non-null    float64
 10  LengthService   500 non-null    float64
 11  AbsentHours     496 non-null    float64
 12  BusinessUnit    500 non-null    object
dtypes: float64(3), int64(1), object(9)
memory usage: 50.9+ KB

In [5]:
data.describe()

       EmployeeNumber         Age  LengthService  AbsentHours
count      500.000000  495.000000     500.000000   496.000000
mean       250.500000   43.477249      47.720799    60.186412
std        144.481833    9.856304     685.306945    48.613408
min          1.000000   11.778315       0.385746     0.000000
25%        125.750000   37.337930       3.731320    20.422634
50%        250.500000   43.740060       4.939143    55.910068
75%        375.250000   50.028981       6.268695    94.278764
max        500.000000   77.000000   13654.848320   223.778841

In [10]:
data["Age"].quantile(0.50)
data["Age"].max()

77.0

In [23]:
data_filtered=data[(data["Age"]>data["Age"].quantile(0.01)) & (data["Age"]<data["Age"].quantile(0.99))]
print(data_filtered)

     EmployeeNumber    Surname GivenName Gender             City JobTitle  \
0                 1  Gutierrez     Molly      F          Burnaby    Baker
1                 2   Hardwick   Stephen      M        Courtenay    Baker
2                 3    Delgado   Chester      M         Richmond    Baker
3                 4      Simon     Irene      F         Victoria    Baker
4                 5   Delvalle    Edward      M  New Westminster    Baker
..              ...        ...       ...    ...              ...      ...
494             495      Felix      Carl      M        Vancouver  Trainer
495             496      Green      Anna      F  New Westminster  Cashier
496             497     Nevitt   Phillip      M           D'arcy    Baker
497             498      Troup    Martha      F          Burnaby    Baker
498             499       Ross      Eric      M           Surrey    Baker

       DepartmentName    StoreLocation        Division        Age  \
0              Bakery          Burnaby          Stores  32.028816
1              Bakery          Nanaimo          Stores  40.320902
2              Bakery         Richmond          Stores  48.822047
3              Bakery         Victoria          Stores  44.599357
4              Bakery  New Westminster          Stores  35.697876
..                ...              ...             ...        ...
494          Training        Vancouver  HumanResources  49.898107
495  Customer Service  New Westminster          Stores  41.020162
496            Bakery         Squamish          Stores  53.650450
497            Bakery          Burnaby          Stores  39.860055
498            Bakery           Surrey          Stores  35.489233

     LengthService  AbsentHours BusinessUnit
0         6.018478    36.577306       Stores
1         5.532445    30.165072       Stores
2         4.389973    83.807798       Stores
3         3.081736    70.020165       Stores
4         3.619091     0.000000       Stores
..             ...          ...          ...
494      31.898107          NaN   HeadOffice
495       3.001312    67.650922       Stores
496       5.732535   129.752356       Stores
497       4.322794    76.999388       Stores
498       5.155878    48.838621       Stores

[485 rows x 13 columns]

In [24]:
data["Age"].fillna(data["Age"]).mean()

43.47724887280808